@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply scroll-smooth;
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .imgContainer {
    mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
    );
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
    );
  }
  .active-icon {
    @apply top-[15rem]  w-full h-[24rem]
    text-sm rounded-none border-none;
  }
  .deactive-icon {
    @apply top-[2rem]  h-[4rem] w-[4rem] 
     text-2xl md:text-4xl md:h-[5rem] md:w-[5rem]
    rounded-full;
  }
  .cubes.activeCube {
    @apply translate-x-0 translate-y-0 opacity-100 rounded-none gap-0 border-0;
  }
  section.active {
    @apply translate-y-0 opacity-100;
  }
  .hero-item.activehero {
    @apply w-full
    scale-x-[2]
    bg-gradient-to-r from-red-500;
  }
  .cubes{
    box-shadow:
    5px 7px 10px rgba(0,0,0,0.7)
  }
}
